.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--blue-dark);
    gap: 40px;
    overflow: hidden;
}

.title_container {
    min-width: 1200px;
    margin-top: 50px;
}

.title_container h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 124px;
    margin: 0;

    color: var(--gray-100);
}

.cape_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1920px;
}

.img {
    width: 1280px;
    height: 720px;
}