.error_page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;

    background-color: var(--gray-600);
    color: var(--gray-100);
}

.button {
    align-items: center;
    justify-content: center;

    width: 90px;
    height: 52px;
    margin-top: 50px;

    background-color: var(--blue-dark);
    color: var(--gray-100);
    border-radius: 8px;
    border: none;

    cursor: pointer;
}

.button:hover {
    filter: brightness(1.1);
}