@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --purple: #8284FA;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}